

@* backup olan fayl *@



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<script>
	window.onload = function () {
		// Eğer kullanıcı login olmuşsa, token localStorage'da olmalıdır
		if (!localStorage.getItem('jwtToken')) {
			// Token yoksa login sayfasına yönlendir
			window.location.href = '/login';
		}
	}
</script>
<style>
	html,
	body {
		position: relative;
		height: 100%;
	}

	body {
		background: #eee;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: 14px;
		color: #000;
		margin: 0;
		padding: 0;
	}

	.mySwiper2 {
		width: 510px;
		height: 325px;
	}

	.swiper {
		width: 100%;
	}

	508 322

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>

<main class="main-content position-relative border-radius-lg ">


	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
				<div class="card">
					<div class="card-body p-3">
						<div class="row">
							<div class="col-8">
								<div class="numbers">
									<p class="text-sm mb-0 text-uppercase font-weight-bold">Kategoriyalar</p>
									<h5 class="font-weight-bolder">
										@ViewData["CategoryCount"]
									</h5>
								</div>
							</div>
							<div class="col-4 text-end">
								<div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
									<i class="fa-solid fa-list"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
				<div class="card">
					<div class="card-body p-3">
						<div class="row">
							<div class="col-8">
								<div class="numbers">
									<p class="text-sm mb-0 text-uppercase font-weight-bold">Xəbərlər</p>
									<h5 class="font-weight-bolder">
										 @ViewData["NewsCount"] 
									</h5>
								</div>
							</div>
							<div class="col-4 text-end">
								<div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
									<i class="fa-solid fa-newspaper"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
				<div class="card">
					<div class="card-body p-3">
						<div class="row">
							<div class="col-8">
								<div class="numbers">
									<p class="text-sm mb-0 text-uppercase font-weight-bold">PDF Arxivi</p>
									<h5 class="font-weight-bolder">
										@ViewData["PdfCount"]
									</h5>
								</div>
							</div>
							<div class="col-4 text-end">
								<div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
									<i class="fa-solid fa-file-pdf"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6">
				<div class="card">
					<div class="card-body p-3">
						<div class="row">
							<div class="col-8">
								<div class="numbers">
									<p class="text-sm mb-0 text-uppercase font-weight-bold">Foto axrivi</p>
									<h5 class="font-weight-bolder">
										@ViewData["infcount"]
									</h5>
								</div>
							</div>
							<div class="col-4 text-end">
								<div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
									<i class="fa-solid fa-photo-film"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@* ///////////////////////// *@
		<div class="swiper-container" style="overflow:scroll;">
			<div class="swiper-wrapper">
			</div>
		</div>
		@* ///////////////////////// *@
	</div>
</main>

<!-- Footer -->
<footer class="footer pt-3">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-lg-center">
			<div class="col-lg-12 mb-lg-0 mb-4 ">
				<div class="copyright text-center text-sm text-muted text-lg-center">
					&copy; @DateTime.Now.Year, developed by
					<a href="https://www.linkedin.com/in/tarlanaliyevv" class="font-weight-bold" target="_blank">Tərlan Əliyev</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->
<!--   Core JS Files   -->
<script src="~/js/core/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/js/core/bootstrap.min.js"></script>
<script src="~/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/js/plugins/smooth-scrollbar.min.js"></script>
<script src="~/js/plugins/chartjs.min.js"></script>
<script src="~/js/index/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
		window.onload = function () {
		const userRole = localStorage.getItem('userRole');

		const superAdminMenu = document.getElementById('superAdminMenu');
		if (userRole !== 'SuperAdmin' && superAdminMenu) {
			superAdminMenu.style.display = 'none';
		}
	};
</script>

